{"openapi":"3.1.0","info":{"title":"Kpler AIS API","description":"The AIS (Automatic Identification System) APIs provide access to vessel position data collected from Kpler's global network of terrestrial, roaming and satellite receivers. They deliver both real-time and historical AIS information, enabling users to track vessel movements, analyze traffic patterns and integrate maritime positional data into their applications.\n\nThis section includes:\n\n* **AIS – Latest:** Access to the most recent known position for each vessel worldwide, updated in near real time.\n\nAll AIS data are delivered in consistent formats (GeoJSON or CSV) and support advanced spatial and attribute-based filtering for flexible integration into analytical or GIS workflows.","version":"v2"},"servers":[{"url":"https://api.kpler.com/v2/maritime","description":"Production Server"},{"url":"https://kong.dev.galil.io/v2/maritime","description":"Development Server"}],"security":[{"AuthHeader":[]}],"tags":[{"name":"AIS - Latest","description":"Kpler AIS – Latest provides the most recent known AIS positions for all vessels matching the user's filters. Positions are updated continuously, offering near real-time visibility into global maritime activity. Results can be filtered by vessel identifiers, geographic areas or dynamic attributes such as speed, navigational status or vessel type.</p><p>See this <a href='https://developers.kpler.com/api/tutorials/AIS' target='_blank' style='text-decoration: underline; font-style: italic; color: #007bff;'>tutorial</a> for supported filtering operators and Python code examples.</p><p>Rate limit: 300 requests per minute."},{"name":"AIS - Historical","description":" <header style='margin-bottom: 20px;'><h1 style='font-size: 32px; margin: 0;'>AIS – Historical</h1></header><p style='margin-bottom: 20px;'> Kpler AIS – Historical returns vessel AIS positions over a requested time window. Use it to retrieve either all received positions or downsampled positions for selected vessels or for vessels within a selected geographic area. Unlike AIS – Latest (one latest position per vessel), this endpoint can return multiple positions per vessel within the requested period.</p><p style='margin-bottom: 20px;'>The filter must include a time range (posDt) plus either a vessel identifier (vesselUid or mmsi) or an area filter (bbox/polygon/multipolygon). More details on filter requirements can be found here: <a href='https://developers.kpler.com/api/tutorials/AIS' target='_blank' style='text-decoration: underline; font-style: italic; color: #007bff;'>Kpler AIS Tutorials</a>.</p><p>Historical AIS data is available from 1 January 2015. Trial accounts are limited to the most recent 30 days.</p>Rate limit: 300 requests per minute."}],"paths":{"/ais-latest":{"get":{"tags":["AIS - Latest"],"description":"Returns one latest available position received in the past 7 days per vessel.","operationId":"AIS-LatestGET","parameters":[{"name":"filter","in":"query","description":"Filter expression using ECQL (Extended CQL), supporting logical, comparison, and spatial operators. Polygon coordinates must be specified in (longitude, latitude) order. For complete filtering examples, refer to the <a href='https://developers.kpler.com/api/tutorials/AIS'>AIS tutorial</a>.","required":false,"schema":{"type":"string","description":"Filter expression using ECQL (Extended CQL), supporting logical, comparison, and spatial operators. Polygon coordinates must be specified in (longitude, latitude) order. For complete filtering examples, refer to the <a href='https://developers.kpler.com/api/tutorials/AIS'>AIS tutorial</a>.","example":"dwt >= 200000"},"example":"dwt >= 200000"},{"name":"format","in":"query","description":"Specifies the output format of the response. json includes geometry, csv is tabular.","required":false,"schema":{"type":"string","default":"json","description":"Specifies the output format of the response. json includes geometry, csv is tabular.","enum":["json","csv"],"example":"json"},"example":"json"},{"name":"limit","in":"query","description":"Maximum number of records to return in the response.","required":false,"schema":{"type":"integer","format":"int32","description":"Maximum number of records to return in the response.","example":3},"example":3},{"name":"fields","in":"query","description":"Specifies which fields to include in the response. Provide a comma-separated list of attribute names to limit output to only the required columns.","required":false,"schema":{"type":"string","description":"Specifies which fields to include in the response. Provide a comma-separated list of attribute names to limit output to only the required columns.","example":"mmsi,longitude,latitude,posDt,sog"},"example":"mmsi,longitude,latitude,posDt,sog"},{"name":"sortBy","in":"query","description":"Defines the sorting order of the response based on one or more fields. Use the syntax fieldName ASC or fieldName DESC. Multiple sort criteria can be comma-separated.","required":false,"schema":{"type":"string","description":"Defines the sorting order of the response based on one or more fields. Use the syntax fieldName ASC or fieldName DESC. Multiple sort criteria can be comma-separated.","example":"posDt DESC"},"example":"posDt DESC"}],"responses":{"200":{"description":"Latest Vessel Positions data in GeoJSON FeatureCollection (JSON) or CSV format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestVesselPositionFeatureCollection"}},"text/csv":{"schema":{"type":"string","format":"binary","description":"CSV formatted data"}}}},"400":{"description":"Invalid request parameters or ECQL filter.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}},"post":{"tags":["AIS - Latest"],"description":"Use POST when filters are too large for a query string (multi-polygons, long vessel lists). Submit all filters in the JSON body.","operationId":"AIS-LatestPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomingLatestClientRequest","example":{"filter":"dwt >= 200000","format":"json","limit":3}}}},"required":true},"responses":{"200":{"description":"Latest Vessel Positions data in GeoJSON FeatureCollection (JSON) or CSV format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestVesselPositionFeatureCollection"}},"text/csv":{"schema":{"type":"string","format":"binary","description":"CSV formatted data"}}}},"400":{"description":"Invalid request parameters or ECQL filter.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/ais-historical":{"get":{"tags":["AIS - Historical"],"description":"Use query parameters for simple filtering. Supports GeoJSON or CSV formats.","operationId":"AIS-HistoricalGET","parameters":[{"name":"filter","in":"query","description":"Filter expression using ECQL (Extended CQL), supporting logical, comparison, and spatial operators. Polygon coordinates must be specified in (longitude, latitude) order.  Each request must include a posDt time range and at least one query scope,  (vesselUid, mmsi) or a geographic constraint (BBOX or polygon/multipolygon). defined by either vessel identifiers (vesselUid, mmsi) and/or a geographic constraint (bbox, polygon, multipolygon). When querying by vessel identifiers, up to 10 vessels can be provided per request, with a maximum date range of 366 days. When querying by geographic area, the selected area must not exceed 55,000 km², and the maximum date range is limited to 1 day. For complete filtering examples, refer to the AIS <a href='https://developers.kpler.com/api/tutorials/AIS'>AIS tutorial</a>.","required":true,"schema":{"type":"string","description":"Filter expression using ECQL (Extended CQL), supporting logical, comparison, and spatial operators. Polygon coordinates must be specified in (longitude, latitude) order.  Each request must include a posDt time range and at least one query scope,  (vesselUid, mmsi) or a geographic constraint (BBOX or polygon/multipolygon). defined by either vessel identifiers (vesselUid, mmsi) and/or a geographic constraint (bbox, polygon, multipolygon). When querying by vessel identifiers, up to 10 vessels can be provided per request, with a maximum date range of 366 days. When querying by geographic area, the selected area must not exceed 55,000 km², and the maximum date range is limited to 1 day. For complete filtering examples, refer to the AIS <a href='https://developers.kpler.com/api/tutorials/AIS'>AIS tutorial</a>.","example":"posDt BETWEEN '2025-12-20T00:00:00Z' AND '2025-12-21T00:00:00Z' AND BBOX(position, 2.20, 48.75, 2.45, 48.95)"},"example":"posDt BETWEEN '2025-12-20T00:00:00Z' AND '2025-12-21T00:00:00Z' AND BBOX(position, 2.20, 48.75, 2.45, 48.95)"},{"name":"format","in":"query","description":"Specifies the output format of the response. json includes geometry, csv is tabular.","required":false,"schema":{"type":"string","default":"json","description":"Specifies the output format of the response. json includes geometry, csv is tabular.","enum":["json","csv"],"example":"json"},"example":"json"},{"name":"limit","in":"query","description":"Maximum number of records to return in the response.","required":false,"schema":{"type":"integer","format":"int32","description":"Maximum number of records to return in the response.","example":3},"example":3},{"name":"fields","in":"query","description":"Specifies which fields to include in the response. Provide a comma-separated list of attribute names to limit output to only the required columns.","required":false,"schema":{"type":"string","description":"Specifies which fields to include in the response. Provide a comma-separated list of attribute names to limit output to only the required columns.","example":"mmsi,longitude,latitude,posDt,sog"},"example":"mmsi,longitude,latitude,posDt,sog"},{"name":"sortBy","in":"query","description":"Defines the sorting order of the response based on one or more fields. Use the syntax fieldName ASC or fieldName DESC. Multiple sort criteria can be comma-separated.","required":false,"schema":{"type":"string","description":"Defines the sorting order of the response based on one or more fields. Use the syntax fieldName ASC or fieldName DESC. Multiple sort criteria can be comma-separated.","example":"posDt DESC"},"example":"posDt DESC"},{"name":"downsample","in":"query","description":"Controls whether historical positions are returned in full (none) or reduced (dynamic); dynamic downsampling keeps at least one position every 10 minutes and additionally preserves positions where the absolute change in rate of turn is ≥ 10 degrees or speed over ground is ≥ 10 knots.","required":false,"schema":{"type":"string","default":"dynamic","description":"Controls whether historical positions are returned in full (none) or reduced (dynamic); dynamic downsampling keeps at least one position every 10 minutes and additionally preserves positions where the absolute change in rate of turn is ≥ 10 degrees or speed over ground is ≥ 10 knots.","enum":["none","dynamic"],"example":"dynamic"},"example":"dynamic"}],"responses":{"200":{"description":"Historic Vessel Positions data in GeoJSON FeatureCollection (JSON) or CSV format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoricVesselPositionFeatureCollection"}},"text/csv":{"schema":{"type":"string","format":"binary","description":"CSV formatted data"}}}}}},"post":{"tags":["AIS - Historical"],"description":"Use POST when the filter is long (multipolygons, large vessel lists) or when you want to avoid URL-length limits.","operationId":"AIS-HistoricalPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomingHistoricalClientRequest"}}},"required":true},"responses":{"200":{"description":"Historic Vessel Positions data in GeoJSON FeatureCollection (JSON) or CSV format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoricVesselPositionFeatureCollection"}},"text/csv":{"schema":{"type":"string","format":"binary","description":"CSV formatted data"}}}}}}}},"components":{"schemas":{"IncomingLatestClientRequest":{"type":"object","description":"Request body for POST requests to filter and retrieve AIS data.","example":{"filter":"dwt >= 200000","format":"json","limit":3},"properties":{"filter":{"type":"string","description":"Filter expression using ECQL (Extended CQL), supporting logical, comparison, and spatial operators. Polygon coordinates must be specified in (longitude, latitude) order. For complete filtering examples, refer to the <a href='https://developers.kpler.com/api/tutorials/AIS'>AIS tutorial</a>.","example":"dwt >= 200000"},"format":{"type":"string","default":"json","description":"Specifies the output format of the response. json includes geometry, csv is tabular.","enum":["json","csv"],"example":"json"},"limit":{"type":"integer","format":"int32","description":"Maximum number of records to return in the response.","example":3},"fields":{"type":"string","description":"Specifies which fields to include in the response. Provide a comma-separated list of attribute names to limit output to only the required columns.","example":"mmsi,longitude,latitude,posDt,sog"},"sortBy":{"type":"string","description":"Defines the sorting order of the response based on one or more fields. Use the syntax fieldName ASC or fieldName DESC. Multiple sort criteria can be comma-separated.","example":"posDt DESC"}}},"Crs":{"type":"object","description":"Coordinate reference system information","properties":{"type":{"type":"string","description":"CRS definition type. Always name"},"properties":{"$ref":"#/components/schemas/CrsProperties","description":"CRS identifier. Always urn:ogc:def:crs:EPSG::4326"}}},"CrsProperties":{"type":"object","properties":{"name":{"type":"string"}}},"Feature":{"type":"object","description":"A GeoJSON Feature object representing a vessel position.","properties":{"type":{"type":"string","description":"GeoJSON object type for this item. Always Feature","enum":["Feature"]},"id":{"type":"string","description":"Unique identifier assigned to this vessel position record"},"geometry":{"$ref":"#/components/schemas/Geometry","description":"Spatial geometry describing the vessel's current position"},"geometry_name":{"type":"string","description":"Vessel’s position in WGS84 coordinates (longitude, latitude)"},"properties":{"$ref":"#/components/schemas/LatestVesselPositionProperties","description":"A set of properties/attributes associated with the vessel's position."}},"required":["geometry","geometry_name","properties","type"]},"Geometry":{"type":"object","description":"GeoJSON Point Geometry","properties":{"type":{"type":"string","description":"GeoJSON geometry type. Always Point for this endpoint","enum":["Point"],"example":"Point"},"coordinates":{"type":"array","description":"The WGS84 coordinates in [longitude, latitude] order.","example":[-2.3567834,58.7598532],"items":{"type":"number","format":"double"}}},"required":["coordinates","type"]},"LatestVesselPositionFeatureCollection":{"type":"object","description":"A GeoJSON FeatureCollection object.","example":{"type":"FeatureCollection","features":[{"type":"Feature","id":6764564,"geometry":{"type":"Point","coordinates":[-2.3567834,58.7598532]},"geometry_name":"positionGeometry","properties":{"vesselUid":16,"mmsi":987654321,"imo":9128520,"longitude":-2.3567834,"latitude":58.7598532,"sog":10.2,"cog":165,"rot":-16,"heading":308,"navStatus":0,"posMsgType":21,"posSrcText":"SAT","vesselName":"AVEL VAD","callsign":"FNALV","flag":"FR","vesselTypeAis":70,"vesselType":"Bulk Carrier","length":67.3,"width":12.42,"dwt":45262,"grt":62780,"destination":"Houston","eta":"2025-12-01T12:00:00Z","draught":8.5,"staticMsgType":21,"staticSrcText":"SAT","posDt":"2025-09-10T15:02:20Z","staticDt":"2025-09-10T13:52:02Z","insertDt":"2025-09-10T15:02:27Z"}}],"totalFeatures":500,"numberMatched":3,"numberReturned":3,"timeStamp":"2025-09-10T15:02:28Z","crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::4326"}}},"properties":{"features":{"type":"array","description":"List of GeoJSON Feature objects.","items":{"$ref":"#/components/schemas/Feature"}},"totalFeatures":{"type":"integer","format":"int32","description":"Total number of vessel positions matching the query"},"numberMatched":{"type":"integer","format":"int32","description":"Number of features that satisfy the filter criteria"},"numberReturned":{"type":"integer","format":"int32","description":"Number of features included in this response"},"timeStamp":{"type":"string","description":"Timestamp when this response was generated (ISO 8601)"},"crs":{"$ref":"#/components/schemas/Crs","description":"Coordinate reference system information for the returned GeoJSON"}},"required":["crs","features","numberMatched","numberReturned","timeStamp","totalFeatures"]},"LatestVesselPositionProperties":{"type":"object","description":"Vessel and AIS message properties.","properties":{"vesselUid":{"type":"integer","format":"int32","description":"Unique vessel identifier assigned by MarineTraffic.","example":16},"mmsi":{"type":"integer","format":"int32","description":"Maritime Mobile Service Identity (MMSI) number.","example":987654321},"imo":{"type":"integer","format":"int32","description":"International Maritime Organization (IMO) number.","example":9128520},"longitude":{"type":"number","format":"double","description":"Longitude of vessels' location.","example":-2.3567834},"latitude":{"type":"number","format":"double","description":"Latitude of vessels' location.","example":58.7598532},"sog":{"type":"number","format":"float","description":"Speed Over Ground (knots).","example":10.2},"cog":{"type":"number","format":"float","description":"Course Over Ground (degrees).","example":165},"rot":{"type":"integer","format":"int32","description":"Rate of Turn (degrees per minute).","example":-16},"heading":{"type":"integer","format":"int32","description":"Heading (degrees true, 0-359).","example":308},"navStatus":{"type":"integer","format":"int32","description":"Navigational Status Code as reported in the AIS message.","example":0},"posMsgType":{"type":"integer","format":"int32","description":"Type of the positional AIS message.","example":21},"posSrcText":{"type":"string","description":"Source of the positional AIS message (TER / ROAM / SAT).","example":"SAT"},"vesselName":{"type":"string","description":"Name of the vessel.","example":"AVEL VAD"},"callsign":{"type":"string","description":"Vessel call sign.","example":"FNALV"},"flag":{"type":"string","description":"Two-letter ISO country code of vessel’s registration.","example":"FR"},"vesselTypeAis":{"type":"integer","format":"int32","description":"Vessel type code reported in the AIS message.","example":70},"vesselType":{"type":"string","description":"Type assigned to the vessel by MarineTraffic.","example":"Bulk Carrier"},"length":{"type":"number","format":"float","description":"Vessel length in meters.","example":67.3},"width":{"type":"number","format":"float","description":"Vessel width in meters.","example":12.42},"dwt":{"type":"integer","format":"int32","description":"Deadweight tonnage.","example":45262},"grt":{"type":"integer","format":"int32","description":"Gross registered tonnage.","example":62780},"destination":{"type":"string","description":"Destination reported in the AIS message.","example":"Houston"},"eta":{"type":"string","format":"date-time","description":"Estimated Time of Arrival reported in the AIS message (ISO 8601).","example":"2025-12-01T12:00:00Z"},"draught":{"type":"number","format":"float","description":"Vessel draught in meters.","example":8.5},"staticMsgType":{"type":"integer","format":"int32","description":"Type of the static AIS message.","example":21},"staticSrcText":{"type":"string","description":"Source of the static AIS message (TER / ROAM / SAT).","example":"SAT"},"posDt":{"type":"string","format":"date-time","description":"Time and date when positional AIS message was emitted (ISO 8601).","example":"2025-09-10T15:02:20Z"},"staticDt":{"type":"string","format":"date-time","description":"Time and date when static AIS message was emitted (ISO 8601).","example":"2025-09-10T13:52:02Z"},"insertDt":{"type":"string","format":"date-time","description":"Time and date when the record was inserted into Kpler's database (ISO 8601).","example":"2025-09-10T15:02:27Z"}}},"StreamingResponseBody":{},"HistoricVesselPositionFeatureCollection":{"type":"object","description":"A GeoJSON FeatureCollection object.","example":{"type":"FeatureCollection","features":[{"type":"Feature","id":6764564,"geometry":{"type":"Point","coordinates":[-2.3567834,58.7598532]},"geometry_name":"positionGeometry","properties":{"vesselUid":16,"mmsi":987654321,"imo":9128520,"longitude":-2.3567834,"latitude":58.7598532,"sog":10.2,"cog":165,"rot":-16,"heading":308,"navStatus":0,"posMsgType":21,"posSrcText":"SAT","vesselName":"AVEL VAD","callsign":"FNALV","flag":"FR","vesselTypeAis":70,"vesselType":"Bulk Carrier","length":67.3,"width":12.42,"dwt":45262,"grt":62780,"destination":"Houston","eta":"2025-12-01T12:00:00Z","draught":8.5,"staticMsgType":21,"staticSrcText":"SAT","posDt":"2025-09-10T15:02:20Z","staticDt":"2025-09-10T13:52:02Z","insertDt":"2025-09-10T15:02:27Z"}}],"totalFeatures":500,"numberMatched":3,"numberReturned":3,"timeStamp":"2025-09-10T15:02:28Z","crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::4326"}}},"properties":{"features":{"type":"array","description":"List of GeoJSON Feature objects.","items":{"$ref":"#/components/schemas/Feature"}}}},"IncomingHistoricalClientRequest":{"type":"object","description":"Request body for POST requests to filter and retrieve AIS data.","example":{"filter":"posDt BETWEEN '2025-12-20T00:00:00Z' AND '2025-12-21T00:00:00Z' AND BBOX(position, 2.20, 48.75, 2.45, 48.95)","downsample":"dynamic","format":"json","limit":3},"properties":{"filter":{"type":"string","description":"Filter expression using ECQL (Extended CQL), supporting logical, comparison, and spatial operators. Polygon coordinates must be specified in (longitude, latitude) order.  Each request must include a posDt time range and at least one query scope,  (vesselUid, mmsi) or a geographic constraint (BBOX or polygon/multipolygon). defined by either vessel identifiers (vesselUid, mmsi) and/or a geographic constraint (bbox, polygon, multipolygon). When querying by vessel identifiers, up to 10 vessels can be provided per request, with a maximum date range of 366 days. When querying by geographic area, the selected area must not exceed 55,000 km², and the maximum date range is limited to 1 day. For complete filtering examples, refer to the AIS <a href='https://developers.kpler.com/api/tutorials/AIS'>AIS tutorial</a>.","example":"posDt BETWEEN '2025-12-20T00:00:00Z' AND '2025-12-21T00:00:00Z' AND BBOX(position, 2.20, 48.75, 2.45, 48.95)"},"format":{"type":"string","default":"json","description":"Specifies the output format of the response. json includes geometry, csv is tabular.","enum":["json","csv"],"example":"json"},"limit":{"type":"integer","format":"int32","description":"Maximum number of records to return in the response.","example":3},"fields":{"type":"string","description":"Specifies which fields to include in the response. Provide a comma-separated list of attribute names to limit output to only the required columns.","example":"mmsi,longitude,latitude,posDt,sog"},"sortBy":{"type":"string","description":"Defines the sorting order of the response based on one or more fields. Use the syntax fieldName ASC or fieldName DESC. Multiple sort criteria can be comma-separated.","example":"posDt DESC"},"downsample":{"type":"string","default":"dynamic","description":"Controls whether historical positions are returned in full (none) or reduced (dynamic); dynamic downsampling keeps at least one position every 10 minutes and additionally preserves positions where the absolute change in rate of turn is ≥ 10 degrees or speed over ground is ≥ 10 knots.","enum":["none","dynamic"],"example":"dynamic"}},"required":["filter"]}},"securitySchemes":{"AuthHeader":{"type":"apiKey","description":"API Key needed to access the endpoints. Format: 'Basic {{API_KEY}}'","name":"Authorization","in":"header"}}}}